/Draft_1.aux
/Draft_1.log
/Draft_1.synctex.gz
/Draft_1.bbl
/Draft_1.out
/Draft_1.blg
/Draft_1.toc
/Draft_2.aux
/Draft_2.log
/Draft_2.synctex.gz
/Draft_2.bbl
/Draft_2.out
/Draft_2.blg
/Draft_2.toc
/texput.log
/UoYCSproject.cls
/output.txt

